:root{
    --background-color: #2B2B2B;
    --button-background-color: #A259FF;
    --text-color-white: #FFFFFF;
    --text-color-secondary: #858584;
    --background-secondary: #3B3B3B;
    --timer-background: #3B3B3B80;

}